@tailwind base;
@tailwind components;
@tailwind utilities;

/************************************ Base *************************************/
@layer base {
  *::-webkit-scrollbar {
    @apply w-2 h-2 bg-gray-200 dark:bg-theme_background;
  }
  *::-webkit-scrollbar-track {
    @apply bg-gray-200 dark:bg-theme_background border border-slate-100;
  }
  *::-webkit-scrollbar-button {
    display: none;
  }
  *::-webkit-scrollbar-thumb {
    @apply bg-gray-400 dark:bg-gray-600 rounded-xl;
  }

  body {
    @apply text-gray-700 dark:text-gray-300 text-sm bg-gray-50 dark:bg-theme_background;
  }

  /* Table */
  table {
    @apply bg-opacity-50 text-sm text-left leading-4 font-medium text-gray-500 tracking-wider dark:text-gray-400 shadow-md;
  }

  table thead tr {
    @apply bg-gray-200 bg-opacity-70 dark:bg-opacity-70 dark:bg-gray-900 leading-4 font-medium text-gray-500 
    uppercase tracking-wider dark:text-gray-300 text-xs border-b dark:border-gray-800;
  }

  table thead tr th,
  table thead tr td {
    @apply px-4 py-4;
  }

  table tbody tr td {
    @apply px-4 py-5;
  }

  table tbody tr {
    @apply bg-white dark:bg-slate-800 hover:bg-gray-100 dark:hover:bg-gray-600 border-b border-gray-200 dark:border-gray-800 duration-150 ease-out;
  }

  table tbody tr:nth-of-type(2n) {
    @apply bg-opacity-50 dark:bg-opacity-75;
  }
}

/************************************ Layout ***********************************/
.layout {
  @apply h-screen flex overflow-hidden; /*bg-custom-gradient dark:bg-custom-gradient-dark bg-cover bg-no-repeat bg-top*/
}

.layout__content {
  @apply flex flex-col w-0 flex-1 overflow-hidden;
}

/************************************ Sidebar **********************************/
.sidebar {
  @apply z-50 hidden md:flex md:flex-shrink-0 border-r border-gray-300 dark:border-slate-800  bg-gray-50 dark:bg-theme_background  dark:md:bg-transparent;
}

.nav__link {
  @apply my-3 flex items-center px-2 py-3 text-sm leading-5 font-medium text-gray-900 dark:text-gray-300 rounded-md
    hover:bg-gray-100 hover:border-gray-300 dark:hover:bg-slate-900 focus:outline-none transition ease-in-out duration-150;
}

.mobile {
  @apply w-80;
}

.nav__link.active {
  @apply rounded-md dark:bg-slate-800 dark:text-gray-200 bg-gray-200/75;
}

.logo {
  @apply cursor-pointer flex items-center h-16 flex-shrink-0 px-4 border-b border-gray-300 dark:border-slate-800;
}

.side-menu {
  @apply flex-1 px-2 py-4;
}

/************************************ Topbar ***********************************/
.topbar {
  @apply relative z-10 flex flex-shrink-0 h-16 text-gray-900 border-b border-gray-300 dark:border-slate-800;
}

.toggle-icon {
  @apply px-4 text-gray-500 focus:outline-none;
}

/************************************ Main Content *****************************/
.main {
  @apply flex-1 relative z-0 overflow-y-auto focus:outline-none px-6 lg:px-12 pt-8 pb-10;
}

.main svg {
  @apply !m-0;
}

/************************************ Global ***********************************/
.table-container {
  @apply align-middle min-w-full shadow rounded-lg border dark:border-gray-900 overflow-auto;
}

/************************************ Forms ************************************/
.input-main {
  @apply appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none 
  focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5 dark:text-gray-900;
}

.input-borderless {
  @apply w-28 pl-2 pt-2 pb-1.5 sm:leading-5 bg-transparent cursor-pointer text-sm dark:text-gray-300 border-b outline-none border-orange-500 focus:dark:border-cyan-800;
}

.btn-basic {
  @apply flex items-center justify-center w-auto rounded-md transition duration-150 ease-in-out text-xs p-2 bg-gray-50 dark:bg-transparent 
      dark:text-gray-200 border border-gray-300 dark:border-gray-700 outline-none px-3 hover:bg-gray-200 dark:hover:bg-gray-700 cursor-pointer;
}

.btn-main-outline {
  @apply inline-flex items-center justify-center text-sm py-1.5 px-3 leading-5 rounded-md font-bold
    bg-white focus:outline-none ease-out text-center cursor-pointer text-orange-600 hover:text-orange-500 border border-orange-400;
}

.btn-main { 
  @apply w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-orange-500
  hover:bg-orange-600 focus:outline-none focus:border-orange-600 active:bg-orange-400 transition duration-150 ease-out;
}

/* Game */

.game-col { 
  @apply bg-purple-900 w-24 h-16 text-xl rounded-l shadow-lg text-purple-200 grid place-items-center
}